<br>
<div class="row">

  <div class="col">
    <div class="col-md">
      <div class="card text-center bg-success text-white mb-3" id="orders-delivered">
        <div class="card-header">
          <b class="card-title">Orders Deleivered</b>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{delivered}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-md">
      <div class="card text-center bg-info text-white mb-3" id="orders-delivered">
        <div class="card-header">
          <b class="card-title">Out for delivery</b>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{out_for_delivery}}</h3>
        </div>
      </div>
    </div>
  </div>





  <div class="col">
    <div class="col-md">
      <div class="card text-center bg-danger text-white mb-3" id="orders-pending">
        <div class="card-header">
          <b class="card-title">Orders Pending</b>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{pending}}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="card text-center bg-primary text-white mb-3" id="total-orders">
        <div class="card-header">
          <b class="card-title">Total Orders</b>
        </div>
        <div class="card-body">
          <h3 class="card-title">{{total_orders}}</h3>
        </div>
      </div>
    </div>
  </div>

</div>